---
import FAQItem from "./FAQItem.astro";

const { block } = Astro.props;
---

<ul class="fap-faq-block" id={block?.slug}>
    {
        <li>
            <ul>
                {block?.faqItems.map((_item) => <FAQItem slug={block.slug} item={_item} />)}
            </ul>
        </li>
    }
</ul>


<style lang="scss">
    .fap-faq-block {
        padding: 0;
        list-style-type: none;
        & > li > ul {
            padding: 0;
        }
    }
</style>