---
import AdaptiveDropdownList from '../components/Footer/AdaptiveDropdownList.astro';
import SiteMap from '../components/Footer/SiteMap.astro';
import SubscribeForm from '../components/Form/Subscribe.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<main>
		<SubscribeForm />
	</main>
</Layout>