---
import AdaptiveDropdownList from '../components/Footer/AdaptiveDropdownList.astro';
import SiteMap from '../components/Footer/SiteMap.astro';
import SubscribeForm from '../components/Form/Subscribe.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<main>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis necessitatibus praesentium accusantium quidem expedita non odio nulla minima earum autem eos aliquid, officiis consectetur voluptas dolor atque consequuntur alias corrupti?
		Molestiae, atque ab temporibus nostrum, repellendus delectus eveniet deleniti hic voluptate laudantium itaque asperiores incidunt repudiandae quis. Illum aut ducimus dolore repudiandae accusantium, iusto culpa nesciunt quas necessitatibus quam? Rem!
		Fuga, impedit exercitationem. Asperiores hic, quos iste alias autem velit nisi soluta molestiae assumenda nemo ab provident, sint esse rerum nihil doloremque impedit repudiandae. Porro in eos eligendi magnam nemo.
		Autem, quaerat voluptatibus consequatur quis amet ex libero architecto cupiditate illo porro aperiam qui inventore illum ipsum voluptate optio ipsam, commodi laudantium itaque, pariatur reiciendis laborum reprehenderit delectus impedit? Neque.
		Eum deserunt eos quod facere nostrum nam doloribus nesciunt quisquam nisi commodi aliquam, mollitia, tempora sequi corrupti inventore numquam, accusamus architecto quidem repudiandae! Ad quod, odit itaque rem beatae aspernatur.
		Maiores modi quas, repellat quasi ratione consequuntur unde ex vitae fuga neque alias voluptatum magni dolores harum pariatur nemo. At voluptates et officiis minus dolores nostrum accusamus iste rem minima.
		Sint perferendis rem placeat recusandae, velit sunt voluptatibus esse at cupiditate soluta aspernatur. Eius veniam, repellat doloribus in est quod, qui placeat at adipisci praesentium similique id expedita odit? Amet!
		Consequatur molestias voluptatum, saepe culpa commodi modi veritatis asperiores quidem! Voluptates tenetur voluptatum magni aliquid veritatis itaque maxime maiores corporis. Fuga obcaecati numquam quam, eos illum repellendus unde nobis amet!
		Quam, quas optio, sequi quos in nam modi voluptates, maxime eius architecto neque sunt aliquid magnam recusandae repudiandae ratione! Provident hic repudiandae, quia ratione tempora perspiciatis expedita cupiditate suscipit ipsum?
		Blanditiis voluptates dolore ipsum deleniti ea aliquid. Libero cum odit repudiandae, consequuntur alias doloribus nulla cupiditate quos ab enim quas accusantium, possimus quidem quod magnam mollitia dolorum aut molestias deserunt!</p>
		<!-- <SubscribeForm /> -->
	</main>
</Layout>