---
import DropdownMenu from "./DropdownMenu.astro";

const headerTop = await fetch(`http://localhost:1337/api/navigation/render/1?type=TREE`).then(x  => x.json());
---

<nav class="fap-top-nav">
    <ul class="fap-top-menu">
        {
            headerTop.map(item => 
                <>
                    <li>
                        <a href={item.path}>{item.title}</a>
                        {
                            item.items && <DropdownMenu items={item?.items} />
                        }
                        
                    </li>

                </>
            )
        }
    </ul>
</nav>

<style lang="scss" is:global>
    .fap-top-nav {
        display: flex;
        align-items: center;
        @media (width < 768px) {
            display: none;
        }
    }
    .fap-top-menu {
        display: flex;
        align-items: center;
        gap: 1.42em;
        grid-area: tp;
        & > li {
            position: relative;
        }
    }
</style>