---
import Button from "../Button.astro";
import ContactsInfo from "./ContactsInfo.astro";
import HeaderTop from "./HeaderTop.astro";
import Cart from "../Icons/Cart.astro";
import Logo from "./Logo.astro";
import MainMenu from "./MainMenu.astro";
import UserActions from "./UserActions.astro";
---
<!-- <header class="fap-header">
    <div class="container">
        <div class="fap-header-grid">
            <HeaderTop />
            <div class="fap-user-actions">
                <Button type="dark" url="/123">PrintProductoion</Button>
                <Button type="medium" url="/123">Войти</Button>
                <a href="#"><Cart /></a>
            </div>
            <div class="fap-header-middle">
                <Logo />
                <ContactsInfo />
            </div>
            <MainMenu />
        </div>
    </div>
</header> -->
<header class="fap-header">
    <div class="container">
        <div class="fap-header-grid">
            <HeaderTop />
            <div class="fap-user-actions">
                <UserActions />
                <a href="#"><Cart /></a>
            </div>
            <div class="fap-header-middle">
                <Logo />
                <ContactsInfo />
            </div>
        </div>
    </div>
</header>
<MainMenu />

<style is:global>
    .fap-header {
        border-bottom: 1px solid var(--color-medium-gray);
    }
    .fap-header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .fap-header-grid {
        display: grid;
        grid-template-areas: "tp u" "mid mid";
    }
    .fap-header-right {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1em;
        padding: 20px 0;
    }
    .fap-header-middle {
        display: flex;
        gap: 1.42em;
        align-items: center;
        grid-area: mid;
    }
</style>

