---
const mainMenu = await fetch(`http://localhost:1337/api/navigation/render/3?type=TREE`).then(x  => x.json());
---

<nav>
    <ul class="fap-main-menu">
        {
            mainMenu.map(item => 
                <>
                    <li>
                        <a href={item.path}>{item.title}</a>                    
                    </li>

                </>
            )
        }
    </ul>
</nav>

<style lang="scss">
    .fap-main-menu {
        display: flex;
        align-items: center;
        gap: 1.42em;
        grid-area: main;

        & > li a {
            display: inline-block;
            padding: 20px 0;
            font-weight: 500;
            text-transform: uppercase;
            color: var(--color-dark-gray);
        }
    }
</style>