---
import Button from "../Button.astro";
import DropdownMenu from "./DropdownMenu.astro";
import Auth from "../Icons/Auth.astro";

const userMenu = await fetch(`http://localhost:1337/api/navigation/render/4`).then((x) => x.json());
---

<div class="fap-menu-user">
  <label for="menu-user">
    <Auth />
    <span>Михаил Мигалов</span>
  </label>
  <input hidden type="checkbox" name="menu-user" id="menu-user" />
  <DropdownMenu items={userMenu} />
</div>


<style lang="scss" is:global>
    .fap-menu-user {
        cursor: pointer;
        position: relative;
    }
    [for="menu-user"] {
        cursor: pointer;
        &:hover {
            color: var(--color-primary);
        }
    }
</style>