---
import Header from "../components/Header/index.astro";
import Footer from "../components/Footer/index.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- <Header /> -->
    <main>
      <slot />
    </main>
    <!-- <Footer /> -->
  </body>
</html>
<style lang="scss" is:global>

  * {
    box-sizing: border-box;
  }
  :root {
	--color-primary: #78DCC7;
    --color-black: #000;
    --color-dark-gray: #42516f;
    --color-medium-gray: #e2e8f0;
	--color-light-gray: #F0F0F0;
    --color-white: #fff;
	--shadow-default: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	--animate-default: ease .35s;
  --color-yellow: rgba(255, 234, 193, 0.4);
  }
  html {
    font-size: 14px;
    font-family:
      "Roboto",
      "Helvetica Neue",
      sans-serif;
  }
  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  img {
    max-width: 100%;
  }
  main {
    flex: 1;
  }
  .container {
    max-width: 1440px;
    padding: 0 2rem;
    margin: 0 auto;
  }
  ul,
  li {
    list-style-type: none;
    margin: 0;
  }
  main {
    & ul {
      padding: 0;
    }
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
  .fap-btn {
    border-color: var(--color-primary);
    border-radius: 15px;
    background-color: var(--color-white);
    font-size: .75rem;
    font-weight: 700;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: var(--animate-default);
  }
  .fap-btn-default {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: 1px solid transparent;
    &:hover {
      background-color: var(--color-white);
      color: var(--color-primary);
    }
  }
</style>

<script>
  const imageObserver = new IntersectionObserver(
    (entries, observer) => {
        entries.forEach((entry) => {
            if (entry.isIntersecting) {
                if(entry.target.hasAttribute("data-src")) {
                    entry.target.src = entry.target.dataset.src;
                    observer.unobserve(entry.target)
                }
                if(entry.target.hasAttribute("data-bg-src")) {
                    entry.target.style.backgroundImage = `url('${entry.target.dataset.bgSrc}')`;
                    observer.unobserve(entry.target);
                }
            }
        })
    },
    {
        rootMargin: "0px"
    }
)
document.querySelectorAll("div, img, a, iframe").forEach((image) => imageObserver.observe(image))
</script>
